<?php

namespace App\Models;

use Audentio\LaravelNotifications\Models\Interfaces\NotificationPreferenceModelInterface;
use Audentio\LaravelNotifications\Models\Traits\NotificationPreferenceModelTrait;

class NotificationPreference extends AbstractModel implements NotificationPreferenceModelInterface
{
    use NotificationPreferenceModelTrait;

    public function getName(): string
    {
        throw new \LogicException('You must override NotificationPreference.getName');
    }
}